{% extends "Usuarios/usuariosPadre.html" %}
{% load static %}

{% block estilos %}
<link href="https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
{% endblock %}

{% block tittle %}
Login
{% endblock %}

{% block content %}
<center>
    <p class="animate__animated animate__bounceInDown" style="font-family: 'Marvel', sans-serif; font-size: 70px;">MAPA
        DE RUTAS DE GÓMEZ PALACIO</p>

     <div class="row">

         <div class="col-3">
             <div class="text-left">
                 <label><i class="fas fa-clock"></i> Lista de rutas de Gómez Palacio:</label>

                 <ul class="list-group">
                     {% for i in rutasGomez %}
                     <li class="list-group-item">
                         <form action="/infoRuta/" method="post">{% csrf_token %}
                             <button type="submit" name="nomreRuta" value="{{i.nombre_ruta}}">{{i.nombre_ruta}}</button>
                         </form>
                     </li>
                     {% endfor %}
                 </ul>
             </div>

         </div>

         <div class="col-9">
             <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1hDjf76CDGCDMJ78tRHG4tt5guTLkDWwY" width="640"
                 height="480"></iframe>
         </div>
     </div>

    


</center>

{% endblock %}