{% extends "Usuarios/usuariosPadre.html" %}
{% load static %}

{% block estilos %}
<link href="https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
{% endblock %}

{% block tittle %}
Login
{% endblock %}

{% block content %}
<center>
    <div class="container">
    
        <p style="font-family: 'Marvel', sans-serif; font-size: 70px;">Quejas y sugerencias.</p>

        <div class="row">

            <div class="col-6">

                <div class="row">
                    <div class="col-6">
                        <label>Selecciona una ruta:</label>
                    </div>
                    <div class="col-6">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown">Desplegable</button>
                            <div class="dropdown-menu">
                                <div class="dropdown-header">sección uno</div>
                                <a href="#" class="dropdown-item">Enlace 1</a>
                                <a href="#" class="dropdown-item">Enlace 2</a>
                                <a href="#" class="dropdown-item">Enlace 3</a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-header">sección dos</div>
                                <a href="#" class="dropdown-item">Enlace 4</a>
                                <a href="#" class="dropdown-item disabled">Enlace 5</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-6">
                        <label>Número de unidad:</label>
                    </div>
                    <div class="col-6">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Opcional">
                    </div>
                </div>
                <br>

                

            </div>

            <div class="col-6">
                <div class="img">
                    <p style="font-family: 'Marvel', sans-serif; font-size: 35px;">Agregar imágen (opcional).</p>
                    
                    <div class="image-upload">
                        <label for="file-input">
                            <img src="http://files.softicons.com/download/toolbar-icons/mono-general-icons-3-by-custom-icon-design/png/256x256/camera.png"
                                alt="Click aquí para subir tu foto" title="Click aquí para subir tu foto" 
                                data-toggle="tooltip" data-placement="bottom"
                                title="Clic aquí para subir la foto!">
                        </label>
                        <input id="file-input" name="foto" type="file" />
                    </div>
                </div>
            </div>
        </div>

        <div class="text-left">
            <label class="text-left">Texto de queja:</label>
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Ingrese su queja."></textarea>

        <div class="text-left">
            <label class="text-left">Sugerencias(opcional):</label>
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ingrese su sugerencia."
        rows="3"></textarea>
        <br>
        <button class="btn btn-primary"  style="background-color: #f8b400 ; border: none;">
            Mandar Queja</button>
        
        <br>
        <br>

        

    </div>

    <style>
        .image-upload > input
        {
        display: none;
        }
        .image-upload img
        {
        width: 30px;
        cursor: pointer;
        }
    </style>
</center>

{% endblock %}